$color1: #249205;
$color2: #9B933B;
$color3: #EABE3F;
$colorFooter: #f0f0f0;
$colorOscuro: #3a3a3a;


nav{
    background-color: $color1;
    position: sticky;
    top:0;

}

header{
    display: flex;
    background-color: $color2;
    color: #fff;
    justify-content: center;

    h1{
        max-width: 20rem;
        
        span{
            color: $color3;
        }
    }
}


main{
    text-align: center;
}

footer{
    background-color: $colorFooter;
    padding: 1rem 0;

    p{
        text-align: center;
    }

}