$color1: #249205;
$color2: #9b933b;
$color3: #eabe3f;
$colorFooter: #f0f0f0;
$colorOscuro: #3a3a3a;

* {
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}

nav {
  background-color: $color1;
  position: sticky;
  top: 0;

  ul {
    display: flex;
    list-style: none;
    justify-content: right;

    li {
      padding: 1rem;
      align-self: center;
      a {
        text-decoration: none;
        font-size: large;
        font-weight: bold;
        color: #000;
      }
    }

    li:first-child {
      flex-grow: 6;
      min-width: 22rem;
      a {
        text-align: right;
        color: #3a3a3a;
      }
    }
  }
}

header {
  display: flex;
  background-color: $color2;
  color: #fff;
  justify-content: center;
  padding: 4rem;
  h1 {
    span {
      color: $color3;
    }
  }
}

main {
  font-size: 18px;

  section {
    margin: 3rem 10rem;

    h3 {
      box-sizing: border-box;
      margin: 1rem 2rem;
    }
  }
}

.buscar {
  input {
    width: 80%;
    height: 25px;
  }

  button {
    min-width: 5rem;
    width: 10%;
    height: 25px;
  }
}

.formato {
  div ol {
    padding-left: 3em;
    margin: 1em 0;
  }
}

.lista {
  .proyecto {
    border: solid #000 1px;
    display: flex;
    margin-bottom: 1ex;

    img {
      width: 170px;
      height: 170px;
      margin: 1mm;
    }

    div {
      display: flex;
      flex-direction: column;
      padding: 1ex;

      h4 {
        margin: 1ex 0;
      }

      p{
          height: 80%;
      }

      div {
        flex-direction: row;

        a{
            margin-right: 1em;
            text-decoration: none;
            font-size: medium;

            span{
                color: #000;
                
            }
        }
        
      }
    }
  }
}

footer {
  background-color: $colorFooter;
  padding: 1rem 0;

  p {
    text-align: center;
  }
}
